
    <!-- Jumbotron Header -->
    <div class="view intro-2 height">
        <div class="full-bg-img">
            <div class="mask rgba-black-strong flex-center">
                <div class="container ">
                    <div class=" ">
                        <header class="jumbotron hero-spacer text-dark text-center ">
                            <h3 class=" font-weight-bold  ">به دنیای فیتنس خوش آمدید!</h3>
                            <p class="font-weight">مطالب به روز و کاربردی برای بهبود سبک زندگی شما</p>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="row">
        <div class="d-inline bg-dark text-white m-3 p-2">
            <h3 > تازه ها</h3>
        </div>
    </div>
    <!-- header big articles-->

    <div class="row   ">
        <% headers.forEach(head => { %>
        <div class="col-12 col-md-4  p-2  mb-3">
            <a href="<%= head.path() %>"> <img class="card-img-top headHeight" src="<%= head.thumb %>" alt="<%= head.title%>"></a>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="<%= head.path() %>"><%= head.title%></a></h2>
            <p class="card-text"><%- head.body.substr(0,220)%></p>
            <!--<a href="<%= head.path() %>" class="btn btn-primary">ادامه مطلب →</a>-->

        </div>
        <div class="card-footer text-muted d-none d-sm-block">
            <%= date(head.createdAt).format('jD jMMMM jYYYY') %>
            <a href="https://fitexapp.ir/">فیتکس</a>
        </div>
        </div>
       <% }) %>



    </div>
    <div class="row">
        <div class="d-inline p-2 bg-dark text-white  m-3 p-2">
            <h3 > خواندنی ها</h3>
        </div>
    </div>


<div class="row">
    <% courses.forEach(course => { %>
      <div class="col-12 col-md-3 mb-3 p-3 ">
          <div class="card ">
              <a href="<%= course.path() %>">  <img class="card-img-top cardHeight" src="<%= course.thumb %>" alt="<%= course.title %>"></a>
              <div class="card-body ">
                <h5><a class="text-dark" href="<%= course.path() %>"><%= course.title %></a></h5>
                <p class="card-text "><%- course.body.substr(0,80) %>...</p>
                  <!--<div class=" ">-->
                      <!--<a href="<%= course.path() %>" class="btn btn-info btn-sm cen">اطلاعات بیشتر</a>-->

                  <!--</div>-->
              </div>
              <!--<div class="card-footer text-muted">-->
                  <!--<span>ارسال شده در <%= date(course.createdAt).format('jD jMMMM jYYYY') %></span>-->
                <!--&lt;!&ndash;<%= course.viewCount %> بازدید&ndash;&gt;-->
              <!--</div>-->
          </div>
      </div>
    <% }) %>
</div>
