




                          <header class     ="jumbotron hero-spacer text-white  row  " style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
<div class="col-md-6 p-3 col-12">
    <h3 class=" font-weight-bold "> مجله ورزشی  <span class="badge-success p-1 " style="background: #009688">فیتکس</span>  با رویکرد علمی!</h3>
        <h5 class="pt-2 pb-2 "> به روز و کاربردی برای بهبود سبک زندگی شما</h5>
    <h7 class="pt-2 "> مطالب مرتبط با تندرستی , سلامت , ورزش , تغذیه مناسب , برنامه های تمرینی و تناسب اندام را میتوانید بطور مرتب در مجله ما بخوانید...</h7>
</div>

                              <div class="col-md-6 text-left col-12">
                                  <img class="cardHeight" src="http://localhost:3001/undraw_working_out_6psf.svg" alt="">
                              </div>
                          </header>












    <div class="row ">
        <div class="d-inline bg-dark text-white m-3 p-2 ">
            <h3 > سر تیتر مجله</h3>
        </div>
    </div>
    <!-- header big articles-->

    <div class="row  ">
        <% headers.forEach(head => { %>
        <div class="col-12 col-md-4  mb-3 ">
            <a href="<%= head.path() %>"> <img class="card-img-top headHeight" src="<%= head.thumb %>" alt="<%= head.title%>"></a>
        <div class="card-body shadow heightHeadCart">
            <a href="<%= head.path() %>" class="text-decoration-none" ><h4 class="card-title text-dark "><%= head.title%></h4></a>
          <div class="d-none d-sm-block"> <p class="card-text "><%- head.sum.substr(0 , 180)%>...</p></div>
       <%/*%>     <a href="<%= head.path() %>" class="btn btn-primary">ادامه مطلب →</a><%*/%>

        </div>
        <div class="card-footer text-muted ">
            <%= date(head.createdAt).format('jD jMMMM jYYYY') %>
            <a href="https://fitexapp.ir/">فیتکس</a>
        </div>
        </div>
       <% }) %>



    </div>




   <%/*%> <div class="row text-center justify-content-center mb-5">
        <% headers.forEach(head => { %>
        <div class="col-12 col-md-7 mb-5 ">
            <a href="<%= head.path() %> "> <img class="card-img-top headHeight" src="<%= head.thumb %>" alt="<%= head.title%>"> </a>
            <div class="card-body">
                <a href="<%= head.path() %>" class="text-decoration-none" > <strong><h3 class="card-title text-dark "><%= head.title%></h3></strong>  </a>
               <div class="d-none d-sm-block"><p class="card-text "><small><%- head.body.substr(0,350)%>...</small></p></div>


            </div>
            <div class="card-footer text-muted d-none d-sm-block ">
                <%= date(head.createdAt).format('jD jMMMM jYYYY') %>
                <a href="https://fitexapp.ir/">فیتکس</a>
            </div>
        </div>
        <% }) %>

    </div>
     <%*/%>

    <div class="row">
        <div class=" ">
            <div class=" p-2 bg-dark text-white  m-3">
                <h3 >آخرین خواندنی ها</h3>
            </div>

        </div>

        <div class="">
            <div class=" m-3  ">

                <a class=" btn-danger btn   p-3  font-weight-bold "  href="/posts"> پست های بیشتر →</a>
            </div>

        </div>

    </div>



<%/*%> search <%*/%>
     <section class="search-sec mb-5 " >
         <div class="container">
             <form action="/post" method="get" novalidate="novalidate">
                 <div class="row">
                     <div class="col-lg-12">
                         <div class="row">
                             <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                 <button type="submit" class="btn wrn-btn btn-outline-primary">جست و جو</button>
                             </div>
                             <!--<div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
                                 <!--<select class="form-control search-slt" id="exampleFormControlSelect1">-->
                                     <!--<option>Select Pickup City</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                 <!--</select>-->
                             <!--</div>-->
                             <!--<div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
                                 <!--<select class="form-control search-slt" id="exampleFormControlSelect1">-->
                                     <!--<option>Select Drop City</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                     <!--<option>Example one</option>-->
                                 <!--</select>-->
                             <!--</div>-->
                             <div class="col-lg-8 col-md-3 col-sm-12 p-0">
                                 <input type="text" class="form-control search-slt" name="search" placeholder="جست و جو کنید">
                             </div>

                         </div>
                     </div>
                 </div>
             </form>
         </div>
     </section>

     <%/*%>End search <%*/%>

<div class="row ">
    <% courses.forEach(course => { %>
      <div class="col-12 col-md-3  mb-4 ">
          <div class="card shadow heightCart ">
              <a href="<%= course.path() %>">

                         <img class="card-img-top cardHeight" src="<%= course.thumb %>" alt="<%= course.title %>">
                     </a>

              <div class="card-body ">
                <h6 class=" p-1"><a class="text-dark text-decoration-none" href="<%= course.path() %>"><%= course.title %></a></h6>
                  <p class=" card-text"><%- course.sum.substr(0,130)%>...</p>
                     <%/*%> <a href="<%= course.path() %>" class="btn btn-info btn-sm cen">اطلاعات بیشتر</a> <%*/%>


              </div>
              <div class="card-footer text-muted alert-secondary sidebar-heading">
                  <span> <%= date(course.createdAt).format('jD jMMMM jYYYY') %></span>
              <%/*%> <%= course.viewCount %>      بازدید<%*/%>
              </div>
          </div>
      </div>
    <% }) %>

</div>
     <div class="row mt-5 ">
         <div class="col-12 col-md-12 d-flex justify-content-center ">
             <a class=" btn-outline-secondary btn  p-3  font-weight-bold" href="/posts"> پست های بیشتر →</a>
         </div>
     </div>



                          <div class="p-3 mt-5 " style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
                          >
                              <div class="  ">
                                  <h2 class="d-flex justify-content-center text-white">
                                      <span class="badge-info p-2">FitEx</span>
                                  </h2>
                                  <h1 class="  text-white mb-3 d-flex  justify-content-center">
                                      امروز با  فیتکس  تمرین کن!
                                  </h1>
                                  <h6 class="  text-white mb-3 d-flex  justify-content-center" > به شما کمک میکنه تا بدون نیاز به تجهیزات حتی توی خونه ورزش کنید</h6>
                                  <h6 class="  text-white mb-3 d-flex  justify-content-center" >بهتون برنامه میده و گام به گام شما رو تمرین میده</h6>
                                  <h6 class="  text-white mb-3 d-flex  justify-content-center" >مجله رو هم پوشش میده</h6>
                                  <div class="d-flex justify-content-center">

                                      <div class="col-12 col-md-12 d-flex justify-content-center ">
                                          <a class=" btn-info btn  p-3  font-weight-bold" href="/land"> معرفی اپلیکیشن →</a>
                                      </div>
                                  </div>

                              </div>
                          </div>




