<!--second nav with category and search-->
<nav class="navbar navbar-expand-md navbar-dark ">
    <div class="container">
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#dw" aria-controls="dw" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <li class="badge badge-danger p-2">دسته بندی ها</li>
        <div class="collapse navbar-collapse p-1" id="dw">
            <ul class="navbar-nav ml-auto">
                <% categories.forEach(category => { %>
                <li class="nav-item dropdown m-2 p-1 ">
                    <a class="nav-link dropdown-toggle d-inline badge-dark text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= category.name%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if(category.childs) { %>
                        <ul class="p-1 badge-dark  ">
                            <% category.childs.forEach(cate => { %>
                            <li class="d-block m-1 d-flex justify-content-center">
                                <a class="text-white text-decoration-none  font-weight-normal " href="/post?category=<%= cate.slug %>"><%= cate.name %></a>
                            </li>
                            <% }) %>
                        </ul>
                        <% } %>
                    </div>
                </li>
                <% }) %>


            </ul>
            <ul class="nav navbar-nav navbar-right ">
                <form class="form-inline my-2 my-lg-0 badge-dark badge p-1"  action="/post" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="عبارت دلخواه را تایپ کنید" aria-label="Search">
                    <button class="btn-dark btn " type="submit">جست و جو</button>
                </form>
            </ul>
        </div>
    </div>

</nav>



<%
 let {category} = req.query
 %>



                          <header class     ="jumbotron hero-spacer text-white  row  " style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
<div class="col-md-6 p-3 col-12">
    <h3 class=" font-weight-bold "> مجله ورزشی  <span class="badge-success p-1 " style="background: #009688">فیتکس</span>  با رویکرد علمی!</h3>
        <h5 class="pt-2 pb-2 "> به روز و کاربردی برای بهبود سبک زندگی شما</h5>
    <h7 class="pt-2 "> مطالب مرتبط با تندرستی , سلامت , ورزش , تغذیه مناسب , برنامه های تمرینی و تناسب اندام را میتوانید بطور مرتب در مجله ما بخوانید...</h7>
</div>

                              <div class="col-md-6 text-left col-12">
                                  <img class="cardHeight" src="https://mag.fitexapp.ir/undraw_working_out_6psf.svg" alt="fitex">
                              </div>
                          </header>












    <div class="row ">
        <div class="d-inline bg-dark text-white m-3 p-2 ">
            <h3 > سر تیتر مجله</h3>
        </div>
    </div>
    <!-- header big articles-->

    <div class="row  ">
        <% headers.forEach(head => { %>
        <div class="col-12 col-md-4  mb-3 ">
            <a href="<%= head.path() %>"> <img class="card-img-top headHeight" src="<%= head.thumb %>" alt="<%= head.title%>"></a>
        <div class="card-body shadow heightHeadCart">
            <a href="<%= head.path() %>" class="text-decoration-none" ><h4 class="card-title text-dark "><%= head.title%></h4></a>
          <div class="d-none d-sm-block"> <p class="card-text "><%- head.sum.substr(0 , 180)%>...</p></div>
       <%/*%>     <a href="<%= head.path() %>" class="btn btn-primary">ادامه مطلب →</a><%*/%>

        </div>
        <div class="card-footer text-muted ">
            <span class="badge-danger p-1"> <%= date(head.createdAt).format('jD jMMMM jYYYY') %></span> - <span class="badge-secondary p-1"><%= head.timeline %></span>

        </div>
        </div>
       <% }) %>



    </div>







<!--categories-->
<div class="m-5">
    <h2 class="d-flex justify-content-center">دسته بندی مطالب</h2>
</div>

<div class="row">

    <% categories.forEach(category => { %>

    <div class="col-12 col-md-3 mb-3 badge-dark p-4 ">
    <div class="card text-white   p-3 col-12 " style="background-color: #667eea">
            <div class="card-body d-flex justify-content-center">
                <a class="text-white font-weight-bold text-decoration-none " href="/post?category=<%= category.slug %>"><h4><%= category.name %></h4></a>
            </div>
        <!--<% if(category.childs) { %>-->
        <!--<ul class="p-1">-->
            <!--<% category.childs.forEach(cate => { %>-->
            <!--<li>-->
                <!--<a class="text-white " href="/post?category=<%= cate.slug %>"><%= cate.name %></a>-->
            <!--</li>-->
            <!--<% }) %>-->
        <!--</ul>-->
        <!--<% } %>-->
    </div>
    </div>
    <% }) %>
</div>
<!--end of categories-->



<%/*%> search <%*/%>
                          <section class="search-sec mb-5 " >
                              <div class="container">
                                  <form action="/post" method="get" novalidate="novalidate">
                                      <div class="row">
                                          <div class="col-lg-12">
                                              <div class="row">
                                                  <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                                      <button type="submit" class="btn wrn-btn btn-outline-primary">جست و جو</button>
                                                  </div>
                                                  <!--<div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
                                                  <!--<select class="form-control search-slt" id="exampleFormControlSelect1">-->
                                                  <!--<option>Select Pickup City</option>-->
                                                  <!--<option>Example one</option>-->
                                                  <!--<option>Example one</option>-->
                                                  <!--<option>Example one</option>-->
                                                  <!--<option>Example one</option>-->
                                                  <!--<option>Example one</option>-->
                                                  <!--<option>Example one</option>-->
                                                  <!--</select>-->
                                                  <!--</div>-->



                                                  <div class="col-lg-6 col-md-3 col-sm-12 p-0">
                                                      <input type="text" class="form-control search-slt" name="search" placeholder="کلمه یا متن دلخواهتان را جست و جو کنید ">
                                                  </div>
                                                  <div class="form-group col-md-3">
                                                      <select name="category" class="form-control search-slt">
                                                          <option value="all">همه دسته ها</option>
                                                          <% categories.forEach(cate => { %>
                                                          <option value="<%= cate.slug %>" <%= cate.slug === category ? 'selected' : '' %> ><%= cate.name %></option>
                                                          <% }) %>
                                                      </select>
                                                  </div>

                                              </div>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </section>

     <%/*%>End search <%*/%>
<div class="row ">
    <div class="  ">
        <div class=" p-2 bg-dark text-white  m-3">
            <h4 >آخرین خواندنی ها</h4>
        </div>

    </div>

    <div class="">
        <div class=" m-3  ">

            <a class=" btn-danger btn   p-3  font-weight-bold "  href="/posts"> پست های بیشتر →</a>
        </div>

    </div>

</div>




<div class="row ">
    <% courses.forEach(course => { %>
      <div class="col-12 col-md-3  mb-4 ">
          <div class="card shadow heightCart ">
              <a href="<%= course.path() %>">

                         <img class="card-img-top cardHeight" src="<%= course.thumb %>" alt="<%= course.title %>">
                     </a>

              <div class="card-body ">
                <h6 class=" p-1"><a class="text-dark text-decoration-none" href="<%= course.path() %>"><%= course.title %></a></h6>
                  <p class=" card-text"><%- course.sum.substr(0,130)%>...</p>
                     <%/*%> <a href="<%= course.path() %>" class="btn btn-info btn-sm cen">اطلاعات بیشتر</a> <%*/%>


              </div>
              <div class="card-footer text-muted alert-secondary sidebar-heading">
                  <span class="badge-danger p-1"> <%= date(course.createdAt).format('jD jMMMM jYYYY') %></span> - <span class="badge-secondary p-1"><%= course.timeline %></span>

              </div>
          </div>
      </div>
    <% }) %>

</div>
     <div class="row mt-5 ">
         <div class="col-12 col-md-12 d-flex justify-content-center ">
             <a class=" btn-outline-secondary btn  p-3  font-weight-bold" href="/posts"> پست های بیشتر →</a>
         </div>
     </div>



                          <div class="p-3 mt-5 " style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
                          >
                              <div class="  ">
                                  <h2 class="d-flex justify-content-center text-white">
                                      <span class="badge-info p-2">FitEx</span>
                                  </h2>
                                  <h1 class="  text-white mb-3 d-flex  justify-content-center">
                                      امروز با  فیتکس  تمرین کن!
                                  </h1>
                                  <h6 class="  text-white mb-3 d-flex  justify-content-center" > به شما کمک میکنه تا بدون نیاز به تجهیزات حتی توی خونه ورزش کنید</h6>
                                  <h6 class="  text-white mb-3 d-flex  justify-content-center" >بهتون برنامه میده و گام به گام شما رو تمرین میده</h6>
                                  <h6 class="  text-white mb-3 d-flex  justify-content-center" >مجله رو هم پوشش میده</h6>
                                  <div class="d-flex justify-content-center">

                                      <div class="col-12 col-md-12 d-flex justify-content-center ">
                                          <a class=" btn-info btn  p-3  font-weight-bold" href="/land"> معرفی اپلیکیشن →</a>
                                      </div>
                                  </div>

                              </div>
                          </div>




