<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-12">
        <div class="col-12 col-md-12  mb-3 text-center ">
             <img class=" singleImageSize img-fluid " src="<%= course.thumb %>" alt="<%= course.title%>">
        </div>
            <!-- Title -->
            <h1 class="mb-3 text-center font-weight-bold"><%= course.title %></h1>

            <!-- Author -->
        <p class="text-muted  text-center">
            <span> توسط <a href="#"><%= course.user.name %></a></span>
            -
            <span>ارسال شده در <%= date(course.createdAt).format('jD jMMMM jYYYY') %></span>
        </p>
    
            <hr>
            <!-- Post Content -->
           <div id="content">
             <p class=""><%- course.body %></p>
           </div>
            <!--<hr>-->


        <hr>

        <div class="row m-3">
            <div class="d-inline p-2 bg-dark text-white  m-3">
                <h3>آخرین مطالب</h3>
            </div>
        </div>
        <div class="row">
            <% lastcourses.forEach(course => { %>
            <div class="col-12 col-md-3 mb-3 p-3 ">
                <div class="card ">
                    <a href="<%= course.path() %>">  <img class="card-img-top cardHeight" src="<%= course.thumb %>" alt="<%= course.title %>"></a>
                    <div class="card-body ">
                        <h5><a class="text-dark" href="<%= course.path() %>"><%= course.title %></a></h5>
                        <p class="card-text "><%- course.body.substr(0,80) %>...</p>
                        <!--<div class=" ">-->
                        <!--<a href="<%= course.path() %>" class="btn btn-info btn-sm cen">اطلاعات بیشتر</a>-->

                        <!--</div>-->
                    </div>
                    <!--<div class="card-footer text-muted">-->
                    <!--<span>ارسال شده در <%= date(course.createdAt).format('jD jMMMM jYYYY') %></span>-->
                    <!--&lt;!&ndash;<%= course.viewCount %> بازدید&ndash;&gt;-->
                    <!--</div>-->
                </div>
            </div>
            <% }) %>
        </div>

    </div>
</div>

